.contenedor {
	display: grid;
	grid-template-areas:
		'A A A A'
		'B B B B'
		'C D D D'
		'E E E E';

}

header {
	grid-area: A;
	background-color: #EFF0F4;
	
}

nav {
	grid-area: B;

}

aside {
	grid-area: C;
	background-color: #5584AC;
}

main {
	grid-area: D;
	background-color: #F6F2D4;

}

footer {
	grid-area: E;
	background-color: #95D1CC;
}



#navegacion {
	background-color: #110148;
	color: #fff;
}

#lista1 {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
}

#listanav {
	margin: 0;
	padding: 0;
}

#linknav {
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
}

#linknav:hover {
	background-color: #555;
}

.contenedor {
	background-color: #fff8f8;
}

#encabezado {
	background-color: #EFF0F4;

}

#lista2 {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;

}

#listaaside {
	margin: 0;
	padding: 0;
}

#linkaside{
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;

}


#linkaside:hover {
	background-color: #555;
}